{% extends 'base.html.twig' %}
{% block titre%}
<title>Panier</title>
{% endblock %}
{% block body%} 
<!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Panier</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================Cart Area =================-->
  <section class="cart_area padding_top">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Image </th>
                <th scope="col">Product Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="alert"{% for p in produits %}>
              
        <td class="product-item-name">{{p.getProduit().getdescription()}}</td>
        
         <td class="product-item-img"><img src="{{asset('uploads/produit_img/' ~ p.getProduit.getImage())}}" alt="" width="350" height="200"></td> 
     
        <td class="product-item-name">{{p.getProduit().getnom()}}</td>
        
        <tr {%  else  %}> <h1>Votre panier est vide </h1></tr>
    </tr {% endfor %}> 

              
              
              
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="{{path('app_marketplace',{'id':panier.getId()}) }}">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="{{path('vider_panier',{'id':panier.getId()}) }}">Vider Panier</a>
            <a class="btn_1 checkout_btn_1" href="{{path('passer_commande',{'idPanier':panier.getId()})}}">Passer Commande</a>
            <a  class="btn_1 checkout_btn_1" href="{{path('afficher_commandes',{'idPanier':panier.getId()})}}">Consulter Commandes</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock %}