{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
<section class="blog_area single-post-area padding_top">
      <div class="container">
         <div class="row">
<div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid"src="{{asset('img/hoodie.png')}}" alt="Hoodie Image">
                  </div>
                  <div class="blog_details">
                     <h2>{{ publication.titrePub }}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                       
                        <li><a href="#"><i class="far fa-comments"></i>{{comment|length()}} comments </a></li>
                     </ul>
                     
                     <div class="quote-wrapper">
                        <div class="quotes">
                           {{publication.contenuPub}}
                        </div>
                     </div>
                     
                  </div>
               </div>
              
               
               <div class="comments-area">
                  <h4> {{comment|length()}} Comments</h4>
                {% for c in comment %}
   <div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
         <div class="user justify-content-between d-flex">
            <div class="thumb">
               <img src="{{asset('img/User.png')}}" alt="Profile Picture">
            </div>
            <div class="desc">
               <p class="comment">
                 {{ c.getSujetCom() }}
               </p>
               <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                     <h5>
                        <a href="#">{{ c.getUsername() }} </a>
                     </h5>
                     <p class="date"> 17:45 9/12/2022 </p>
       
                  </div>
               </div>
            </div>
         </div>
      </div></div>
      {% endfor %}
                 
               </div>
               
            </div></div>
                        </div>
                     </div>
   

{# <div class="comment-form">
   <h4>Leave a Comment</h4>
   <form class="form-contact comment_form" action="{{path('app_commentaire_new',{'id':publication.id}) }}"  id="commentForm">
      <div class="row">
         <div class="col-12">
            <div class="card-body">
                    <h4 class="card-title">{{ comment.username }}</h4>
                    <p class="card-text">{{ comment.sujet_com  }}</p>
                </div>
      </div> #}
  {# <div class="comment-section">
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ comment.nickname }}</h4>
                    <p class="card-text">{{ comment.descriptionCommentaire }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            Il n'y a pas encore de commentaires pour cet article.
        </div>
    {% endif %}
</div>
 #}
<a href="{{ path('app_commentaire_new', {'id': publication.id}) }}" class="btn_3">Commenter</a>
   



    <a href="{{ path('app_publication_index') }}"class="btn_3">Back to list</a>

    <a href="{{ path('app_publication_edit', {'id': publication.id}) }}"class="btn_3">Edit</a>
     <a href="{{ path('app_publication_show', {'id': publication.id}) }}"class="btn_3">Ajouter au panier </a>
        
          <div class="annonce-actions">
            <form method="POST" action="{{ path('app_publication_signal', {'id': publication.id}) }}">
                <button type="submit" name="signal" class="btn btn-success">signaler ({{ publication.nbSignals }})</button>

            </form>
        </div>



  <div class="flex justify-center align-items flex-row">
	  <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('app_publication_show', {id: publication.id})) }}" class="share facebook">
		  <svg class="w-3 h-3 text-blue-600 fill-current mr-4 icon-facebook" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="width: 20px; height: 20px;">
			  <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
		  </svg>
	  </a>
	
</div>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}