{% extends 'base.html.twig' %}
{% block title%} Liste des produits{% endblock %}

{% block body %}
 {% if produits %}
    <table id="produits" class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Valeur</th>
          <th>Description</th>
          <th>date</th>
          <th>statut</th>
          <th>image</th>
          <th>Categorie</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
          <tr>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.valeur }}</td>
            <td>{{ produit.description }}</td>
            <td>{{ produit.date|date('Y-m-d') }}</td>
            <td>{{ produit.statut }}</td>
            <td>{{ produit.image }}</td>
            <td>{{ produit.Categorie.nom }}</td>
           <td>
              <a href="/index/sh/{{ produit.id }}" class="btn btn-dark">Détails</a>
              <a href="/index/formmodif/{{ produit.id }}" class="btn btn-dark">Modifier</a>
              <a href="/index/formsupp/{{ produit.id }}" class="btn btn-danger" 
              onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun produits</p>
  {% endif %} 
{% endblock %}