{% extends 'base.html.twig' %}
{% block titre%}
<title>Commande</title>
{% endblock %}
{% block body%} 
<!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Mes Commandes</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle" style="background-image:url({{ asset('images/background/slide13.jpg') }});">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Vos commandes </h1>
            </div>
        </div>
    </div>
</div>
<div class="section-full content-inner">
    <!-- Commande -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-b30">
                <div class="table-responsive">
                    <table class="table check-tbl">
                        <thead class="text-left">
    <tr>
        <th>Numéro de la Commande</th>
        <th>coordonnées</th>
        <th>Adresse de livraison</th>
        
 
    </tr>
</thead>
<tbody>
    <tr class="alert"{% for c in commandes %}>

        <td class="product-item-name">{{c.getId()}}</td>
        <td class="product-item-name">{{c.getPrenom}} {{c.getNom()}} {{c.getNum()}} {{c.getMail()}}</td>
        <td class="product-item-name">{{c.getRegion()}} {{c.getVille()}} {{c.getRue()}} {{c.getCodePostal()}}</td>
        <td class="product-item-name"><a class="site-button m-r15" href="{{path('suppC',{'id':c.getId()}) }}"> Supprimer</a></td>
        <td class="product-item-name"><a class="site-button m-r15" href="{{path('app_facture',{'idCommande':c.getId()}) }}"> Imprimer</a></td>
        <tr {%  else  %}> <h1>Vous n'avez aucune commande </h1></tr>
    </tr {% endfor %}>
</tbody>  
</table>

</div>
</div>
</div>
</div>
<!-- Commande END -->
</div>
{% endblock %}