{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommande</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Num</th>
                <th>Mail</th>
                <th>Region</th>
                <th>Ville</th>
                <th>Rue</th>
                <th>CodePostal</th>
                <th>IdPanier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.num }}</td>
                <td>{{ commande.mail }}</td>
                <td>{{ commande.region }}</td>
                <td>{{ commande.ville }}</td>
                <td>{{ commande.rue }}</td>
                <td>{{ commande.codePostal }}</td>
                <td>{{ commande.id }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'idCommande': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'idCommande': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
