{% extends 'basenews.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    

    

    

       <section class="blog_area single-post-area padding_top">

      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="http://localhost/img/{{news.image}}"  alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{news.titre}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="far fa-user"></i>{{ news.dateDeCreation ? news.dateDeCreation|date('Y-m-d') : '' }}</a></li>
                     
                     </ul>
                     <p class="excert">
                        {{news.contenu}}
                     </p>
                     </div></div></div></div></div></section>
                     <!--<a href="{{ path('app_news_index') }}">back to list</a>

    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>
    {{ include('news/_delete_form.html.twig') }} -->
{% endblock %}
